* {
  outline: 0;
}

@font-face {
  font-family: 'Menlo Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Menlo Regular'), url('Menlo-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Consolas';
  font-style: normal;
  font-weight: normal;
  src: local('Consolas'), url('Consolas.ttf') format('ttf');
}

@font-face {
  font-family: 'Arcon Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Arcon Regular'), url('Arcon-Regular.otf') format('truetype');
}

body {
  overflow: hidden;
  font-family: 'Consolas';
  margin: 0;
  padding: 0;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

svg #svg_atom_icons {
  fill: #6B727D;
}

svg #svg_atom_icons:hover {
  fill: #757C8A;
}

#panel_left {
  top: 25px;
  width: 15%;
  background-color: #21252B;
  float: left;
  height: 97%;
  position: absolute;
}

.titleProject {
  top: 25px;
  font-family: 'Consolas';
  font-size: 13px;
  color: #D7DAE0;
  text-align: center;
  padding-top: 10px;
  font-weight: 300;
}

#panel_right {
  top: 25px;
  width: 45%;
  background-color: #282C34;
  float: left;
  height: 97%;
  position: absolute;
}

#barre_nav {
  background-color: #21252B;
  width: 100%;
  height: 30px;
  display: flex;
  margin-left: -3px;
}

.barre_nav_tabs {
  padding: 6px 0px;
  background-color: #21252B;
  border-right: 1px solid #181A1F;
  border-bottom: 1px solid #181A1F;
  border-collapse: collapse;
  color: #9DA5B4;
  width: 20%;
  max-width: 220px;
  min-width: 120px;
  text-align: center;
}

/*.barre_nav_tabs:hover:after {
  float: right;
  right: 0;
  position: absolute;
  content: "X";
  color: #9DA5B4;
}

.barre_nav_tabs_currOpen:hover:after {
  float: right;
  position: absolute;
  content: "X";
  color: white;
}*/
.barre_nav_tabs_currOpen {
  background-color: #282C34;
  border-bottom: none;
  color: #FFFFFF;
}

#splitter {
  top: 25px;
  width: 5px;
  background-color: #282C34;
  border-left: 2px solid #181A1F;
  float: left;
  height: 97%;
  position: absolute;
  cursor: col-resize;
}

#barre_outil {
  height: 25px;
  width: 100%;
  z-index: 9;
  position: absolute;
  background-color: #F0F0F0;
  display: flex;
  font-size: 13px;
}

.title_barre_outil {
  padding: 2.5px 5px;
  font-family: 'arcon regular';
}

.title_barre_outil:active {
  background-color: #E0E0E0
}

.title_barre_outil_IsActive {
  background-color: #E0E0E0
}

.title_barre_outil_menu {
  position: absolute;
  background-color: #FFFFFF;
  margin-left: -5px;
  margin-top: 3px;
  border: 1px solid #E9E9E9;
}

.title_barre_outil_menu_separator {
  border-top: 1px solid #E9E9E9;
}

.barre_content {
  padding: 3px 90px 3px 10px;
}

.barre_content span {
  padding: 8px 90px 8px 10px;
}

.barre_content:hover {
  background-color: #E0E0E0;
}

.barre_content_disabled {
  color: gray;
}

#barre_footer {
  font-family: 'Consolas';
  font-size: 12px;
  height: 30px;
  z-index: 9;
  width: 100%;
  background-color: #21252B;
  border-top: 0.5px solid #181A1F;
  position: absolute;
  bottom: 0;
  color: #9DA5B4;
}

.barre_footer_inside {
  margin-left: 10px;
  margin-top: 8px;
}

.barre_footer_insideRight {
  float: right;
  display: flex;
}

.barre_footer_insideRightElem {
  margin-right: 15px;
}

.barre_footer_insideRightElem a {
  text-decoration: none;
  color: #9DA5B4;
}

.barre_footer_insideRightElem svg {
  vertical-align: text-bottom;
}

/**/
#treeview {
      overflow-x: hidden;
      white-space: nowrap;
  float: left;
  width: 100%;
  margin-top: 1em;
  cursor: default;
  color: #9DA5B4;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#treeview ul {
  list-style: none;
  margin-top: 0.4em;
  padding-left: 1.5em;
}
#treeview ul li{
  margin-top: 0.2em;
}
#treeview .icon_folder {
  margin-right: 0.5em;
}

#treeview input {
  display: none;
}

#treeview input:checked~ul {
  display: none;
}


#treeview input:checked + label span.tr_close+span.tr_open {
  display: none;
}
#treeview input:checked + label span.tr_close {
  display: inline;
}
#treeview input + label  span.tr_close {
  display: none;
}
#barre_nav [name=navtabs] span{
  float: right;
  margin-left: -2em;
  margin-right: 1em;
  opacity:0;
}
#barre_nav [name=navtabs]:hover span{
  opacity:1;
}
/**/
.lvl0 {
  margin-top: 20px;
  padding-left: 15px;
}

.lvl1 {
  padding-left: 40px;
}

.lvl2 {
  padding-left: 65px;
}

.lvl3 {
  padding-left: 90px;
}

.current_open {
  background-color: #3A3F4B;
  width: 100%;
  color: #D7DAE0;
}

.current_open svg path {
  fill: #D7DAE0;
}

.current_focus {
  background-color: #4D78CC;
  color: #FFFFFF;
}

.current_focus svg path {
  fill: #FFFFFF;
}

.treeview_span_elemName {
  margin-left: 10px;
}

.hide {
  display: none;
}

/*CSS PAGES*/
#Welcome_page {
  background-color: #282C34;
  width: 80%;
  height: 80%;
  padding: 10%;
  color: #9DA5B4;
  display: flex;
}

#Welcome_page h1 {
  letter-spacing: 6px;
  color: white;
}

#Welcome_page p {
  margin-top: 50px;
  font-size: 14px;
}

#Welcome_page ul {
  font-size: 14px;
}

#Welcome_page a {
  color: #6494ED;
  text-decoration: none;
}

#Welcome_page a:hover {
  cursor: pointer;
  text-decoration: underline;
}

#Welcome_page_title {
  font-weight: 900;
  font-size: 18px;
}

.Welcome_page_left {}

.Welcome_page_right {
  margin-left: 80px;
}

.Welcome_page_box {
  background-color: #2F333D;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 20px;
  text-align: left;
  padding-top: 5px;
  padding-left: 15px;
  vertical-align: middle;
  height: 30px;
  width: 220px;
  cursor: pointer;
  color: #D7DAE0;
}

.Welcome_page_box_icon {
  color: #717784;
}

.reducer_btn {
  position: absolute;
  right: -10px;
  top: 50%;
  z-index: 2;
  color: gray;
  background-color: #21252B;
  border-radius: 0 25px 25px 0;
  height: 15px;
  width: 5px;
  border: 1px solid;
  border-color: #21252B;
  border-left: none;
  display: none;
  -webkit-transition: height 0.2s, width 0.2s, border-color 0.2s, right 0.2s;
  -o-transition: height 0.2s, width 0.2s, border-color 0.2s, right 0.2s;
  transition: height 0.2s, width 0.2s, border-color 0.2s, right 0.2s;
}

.reducer_btn svg,
.augmenter_btn svg {
  position: absolute;
  left: 8px;
  top: 15px;
}

.augmenter_btn {
  position: absolute;
  left: -10px;
  top: 50%;
  z-index: 2;
  color: gray;
  background-color: #21252B;
  border-radius: 0 25px 25px 0;
  height: 15px;
  width: 5px;
  border: 1px solid black;
  border-left: none;
  display: none;
  -webkit-transition: height 0.2s, width 0.2s, left 0.2s;
  -o-transition: height 0.2s, width 0.2s, left 0.2s;
  transition: height 0.2s, width 0.2s, left 0.2s;
}

.is-visible {
  width: 25px;
  display: block;
  right: -25px;
  height: 48px;
  border-color: #181A1F;
  border-left: none;
}

.is-visible2 {
  width: 25px;
  display: block;
  left: 0px;
  height: 48px;
}

.showInsidePanel+.insidePanel {
  display: block;
}

.insidePanel {
  display: none;
  background-color: #2F333D;
  border: 1px solid black;
  border-radius: 5px;
  border-top: none;
  text-align: left;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  vertical-align: middle;
  width: 205px;
  cursor: default;
  color: #D7DAE0;
  font-size: 12px;
}

#README {
  background-color: #e6E6E6;
}





/*----------------------------Codemirror surcouche-------------------------------------------------*/
.CodeMirror{
background: #282C34 !important;
}
